<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roomie">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".join_house.JoinHouseActivity"
            android:theme="@style/JoinHouseTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".house.HouseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".choose_house.ChooseHouseActivity"
            android:theme="@style/ChooseHouseTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".splash.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="roomie.me"
                    android:pathPrefix="/join"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            android:screenOrientation="portrait"/>

        <receiver android:name=".house.chores.chore.SnoozerBroadcast"/>

        <service
            android:name=".RoomieFirebaseInstanceService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_home_24" />
    </application>

</manifest>